---
layout: gallery
title: Gallery | Sewa Mobil Tulungagung, Sewa Motor Tulungagung dan Paket Wisata
photos: https://sewamobiltulungagung.com/img/3-new-xenia.png
---
<main id="main">
    <section id="gallery">
        <div class="container-fluid">
            <div class="section-header">
                <br>
                <h3 class="section-title">{{ site.section-8 }}</h3>
                <span class="section-divider"></span>
                <!--  <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
            </div>
            <div class="row no-gutters">
                {% for item in site.data-instagram %}
                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item wow fadeInUp">
                        <a href="#" class="gallery-popup">
                                <amp-instagram data-shortcode="{{ item.data-shortcode }}"
                                  width="1"
                                  height="1"
                                  layout="responsive">
                                </amp-instagram>
                                <!-- <amp-img class="gallery-popup" alt="{{ item.amp-img-alt }}" src="{{ item.amp-img-scr }}" width="{{ item.amp-img-width }}" height="{{ item.amp-img-height }}" layout="{{ item.amp-img-layout }}"></amp-img> -->
                            </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include contact.html %}
</main>