<section id="contact">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-lg-4 col-md-4">
                <div class="contact-about">
                    <amp-img src="{{ site.logo-2 }}" width="234" height="72" layout="fixed" alt="sewa Mobil di tulungagung"></amp-img>
                    <p>{{ site.visi-1 }}
                        <br>{{ site.visi-2 }}</p>
                    <div class="social-links">
                        <a href="{{ site.facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="{{ site.instagram }}" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div><a href="{{ site.google-my-bussiness }}">
                                <i><amp-img src="/img/map.png" width="38" height="38" layout="fixed" alt="sewa mobil di tulungagung"></amp-img></i>
                                <p>{{ site.streetAddress }}
                                    <br>{{ site.address }} {{ site.postalCode }}</p></a>
                    </div>
                    <div><a href="sms:+{{ site.telephone }}?body=Mau%20Rental%20(Nama)%20(Alamat)">
                                <i><amp-img src="/img/sms.png" width="38" height="38" layout="fixed" alt="sewa mobil di tulungagung"></amp-img></i>
                                <p>{{ site.telephonedetail }}</p></a>
                    </div>
                    <div><a href="tel:+{{ site.telephone }}">
                                <i><amp-img src="/img/call.png" width="38" height="38" layout="fixed" alt="sewa mobil di tulungagung"></amp-img></i>
                                <p>{{ site.telephonedetail }}</p></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-8">
            </div>
        </div>
    </div>
</section>