<amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <form class="menu-layer primary" action="/" target="_top">
        <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
        <div class="items">
            <a class="menu-item item-layer-1" href="/harga-sewa/">
                    <amp-img src="/img/price-tag.png" width="30" height="30" layout="fixed" alt="sewa Mobil di tulungagung"></amp-img>
                    &nbsp;&nbsp;Harga Sewa Armada
                </a>
            <a class="menu-item item-layer-1" href="/paket-wisata/">
                    <amp-img src="/img/price-tag.png" width="30" height="30" layout="fixed" alt="sewa Mobil di tulungagung"></amp-img>
                    &nbsp;&nbsp;Paket Wisata
                </a>
            <a class="menu-item item-layer-1" href="/gallery/">
                    <amp-img src="/img/house.png" width="30" height="30" layout="fixed" alt="sewa MObil di tulungagung"></amp-img>
                    &nbsp;&nbsp;Gallery
                </a>
            <a class="menu-item item-layer-1" href="/blog/">
                    <amp-img src="/img/news.png" width="30" height="30" layout="fixed" alt="sewa Mobil di tulungagung"></amp-img>
                    &nbsp;&nbsp;Blog
                </a>
            <a class="menu-item item-layer-1" href="/#faq">
                    <amp-img src="/img/FAQ.png" width="30" height="30" layout="fixed" alt="sewa Mobil di tulungagung"></amp-img>
                    &nbsp;&nbsp;FAQ
                </a>
            <a class="menu-item item-layer-1" href="/#contact">
                    <amp-img src="/img/contacts.png" width="30" height="30" layout="fixed" alt="sewa Mobil di tulungagung"></amp-img>
                    &nbsp;&nbsp;Contact Us
                </a>
        </div>
    </form>
</amp-sidebar>
<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href="/">
                <amp-img src="{{ site.logo-2 }}" width="218" height="67" layout="fixed" alt="Sewa Mobil Tulungagung"></amp-img>
            </a>
        </div>
        <div id="logo" class="amp-sidebar-toggle" role="button" on="tap:sidebar.toggle" tabindex="0">
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/#intro">Home</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#features">Cara Pesan</a></li>
                <li><a href="/harga-sewa/">Harga Sewa Armada</a></li>
                <li><a href="/paket-wisata/">Paket Wisata</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/#faq">FAQ</a></li>
                <li><a href="/gallery/">Gallery</a></li>
                <li><a href="/#contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>